<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <h1>Products</h1>
    <div class="container">
       <% for(let i = 0; i < products.length; i++){ %>
        <div class="products">
            <a href="/products/<%= products[i].id%>">
                <h3><%= products[i].name %></h3>
                <img src=<%= products[i].img %> alt=<%= products[i].name%>>
                <h4>Price: $<%= products[i].price %></h4>
            </a>
        </div>
       <% } %>
    </div>
</body>
</html>