<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <div class="container">
        <% for(let i = 0; i < products.length; i++){ %>
            <div class="products">
                <a href="/products/<%= products[i].id%>">
                    <h2><%= products[i].name %></h2>
                    <img src=<%= products[i].img %> alt=<%= products[i].name%>>
                    <h3>Price: $<%= products[i].price %></h3>
                </a>
            </div>
        <% } %>
        </div>
    </main>
</body>
</html>