<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/header") %>
    <!-- <h5><a href="/products">Back to the Products Page</a></h5> -->
    <div class="container">
       
        <div class="product-card">
            <div class="info">
                <h1><%= product.name %></h1>
                <h3><a href="/products/<%=id%>/edit">Edit this product</a></h3>
                <img src=<%= product.img %> alt=<%= product.name%>>
                <p><%= product.description%></p>
                <h3>Price: $<%= product.price %></h3>
                <% if(product.qty === 0) { %>
                    <h1 class="out-of-stock">OUT OF STOCK</h1>
                <% } else if (product.qty > 0 ) { %>
                    <h3><%= product.qty %> remaining</h3>
                    <form action="/products/<%= product.id%>/buy?_method=PUT" method="POST">
                        <input id="buy" type="submit" value="BUY">
                    </form>
               <% } %> 
               <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                <input id="delete" type="submit" value="DELETE">
            </form>
            </div>
        </div>
    </div>
</body>
</html>