<!DOCTYPE html>
<html lang="en">
<head>

   <%- include('partials/head') %>

</head>
<body>
    <h1>Budgtr</h1>
    <h4>Bank Account: <span id="bankAccount"><%= bankAccount %></span></h4>
    <table>
        <% for(let i = 0; i < budget.length; i++ ) { %>
        <tr><td><%= budget[i].date %></td><td><a href="/budgets/<%= i %>"><%= budget[i].name %></a></td><td><%= budget[i].amount %></td></tr>
        <% } %>
    </table>
    <a href="/budgets/new"><button>Add New Entry</button></a>
</body>
</html>